<!doctype html>
<html>
  <head>
    <title><%- title %></title>
    <link href="css/global.css" rel="stylesheet" type="text/css" id="prueba">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <!--<script type="text/javascript" src="js/csv.js"></script>-->
  </head>
  <body>
    <div>
      <div>
        <h1><%- title  %></h1>
        <p>Welcome to <%- title %></p>
        <p>go to <a href="/chuchu">chuchu</a></p>
        <p>go <a href="/">home</a></p>
      </div>
    </div>
  </body>
</html>