body {
  background-color: black;
  background-image: url("fondo.jpg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "	Tw Cen MT";
  margin: 5%;
  margin-left: 15%;
}

#miTabla {
  background-color: white:
}

div#texto {
  background-color: rgba(255, 255, 255, 0.5);
  margin-right: 30%;
}

.carpetas th, .carpetas td {
  vertical-align: top;
  padding: 5px;
  text-align: right;
  font-size:large;
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Tw Cen MT", cursive;
  background-color: rgba(255, 255, 255, 0.7);
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-family: "Tw Cen MT", cursive;
  background-color: rgba(63, 98, 255, 0.4);
  padding: 10px 20px;
  color: black;
  display:inline-block;
  border-radius: 10px 10px 10px 10px;
}

h1:hover {
  color: green;
  position: relative;
}

h2:hover {
  color: #fff;
  position: relative;
}

a:hover {
  color: #fff;
  position: relative;
}

a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
section {
  margin: 5% 0%;
  margin-right: 5%;
  background-color: rgba(255, 255, 255, 0.1);
}
