<!doctype html>
<html>
<head>
  <title>Estadisticas Inotify</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  <link href="./css/global.css" rel="stylesheet" type="text/css">
  <script src="./js/parsearFichero.js"></script>
  <script src="./js/main.js"></script>
  
</head>
<body>
  <h1>Estadisticas Inotify</h1>
<div class="contenido">
   <input type="file" id="file-input" /><br><br> 
    <div id="misTablas">

  </div>
</div>


<div id="info">
  <!--<button class="button" id="anadirFila" onclick="leerFicheroEstadisticas('estadisticasServidor.txt')">Actualizar tabla</button>
--><br>
  <div id="texto">
    <pre id="file-content"></pre>
  </div>
</div>

</body>
</html>
